CONFIG_ALTAIR_BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_3_5B=y
CONFIG_ALTAIR_DISPLAY_AXS15231B=y

# Store the emulator disk images in the on-board flash FAT partition.
CONFIG_ALTAIR_STORAGE_INTERNAL_FLASH=y
